<!DOCTYPE html>
<html lang="en">

<head>
    {{>HeaderLinks}}
</head>
<body>
    {{>Navbar}}
    <div align="center">
        <img src="./img/404.png" alt="404 Error" width="500px" height="300px">
    </div>
    <br>
    <h2 align="center">Welcome to Nishanth Weather App<i class="fa fa-heart"></i></h2>
    <br>
    <br>
    <h1 align="center"><big>OOPs Something Went Wrong!!</big></h1>
    {{>Footer}}
</body>
</html>