<!DOCTYPE html>
<html lang="en">

<head>
    {{>HeaderLinks}}
</head>

<body>
     {{>Navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <!-- left side div -->
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                   <figure>
                    <img src="./img/about2.png" alt="Nishanth" class="img-fluid" title="Nishanth Rathod">
                   </figure>
                </div>
                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to Weather App</p>
                    <h1>I am<span class="text_clr"> Nishanth </span> Full Stack Web Developer</h1>
                    <a href="https://nishanth939.github.io/NishanthPortfolio/" target="_blank"><button>About me</button></a>
                </div>
                <!-- right side div -->
                <!-- <div class="col-md-6 col-12 main_header_right">
                   <figure>
                    <img src="./img/about2.png" alt="Nishanth" class="img-fluid" title="Nishanth Rathod">
                   </figure>
                </div> -->
                </div>
            </div>
        </div>
    </div>
    {{>Footer}}
</body>

</html>